<!DOCTYPE html>
<html>
	<head>
		<title>Dismu</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<nav class="navbar navbar-inverse" role="navigation" style="border-radius:0px">
			<div class="container">
				<div class="navbar-header">
					<a type="a" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<div class="navbar-brand" ><a href="/#"><img src="/images/dismu-logo.png" class="navbar-logo" /></a></div>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
					<li class="active"><a href="/#">Home</a></li>
					<li><a href="/download">Download</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="jumbotron text-center jumbotron-main">
			<div class="container" style="margin-bottom:-15px">
				<div class="row" style="margin-top:-10px">
					<div class="col col-lg-12 col-sm-12">
						<h1>Download</h1>
						<p>Download Dismu for your device</p>
						<p style="margin-top:35px">
						</p>
					</div>
				</div>
			</div> 
		</div>

		<div class="container">
			<div class="row">
				<div class="col col-lg-6 col-sm-6">
					<h2>Linux/Windows/Mac OS X</h2>
					<div>
						<p style="margin-bottom:15px">
							<a class="btn btn-default" href="http://yadi.sk/d/sI5J2N8oNLSkg">Download</a>
						</p>
					</div>
				</div>
				<div class="col col-lg-6 col-sm-6 col-lborder">
					<h2>Android</h2>
					<div>
						<p style="margin-bottom:15px">
							<a class="btn btn-default" href="http://yadi.sk/d/NPQK-bSfNLStS">Download</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
