<!DOCTYPE html>
<html>
	<head>
		<title>Dismu</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<nav class="navbar navbar-inverse" role="navigation" style="border-radius:0px">
			<div class="container">
				<div class="navbar-header">
					<a type="a" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<div class="navbar-brand" ><a href="/#"><img src="/images/dismu-logo.png" class="navbar-logo" /></a></div>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
					<li class="active"><a href="/#">Home</a></li>
					<li><a href="/download">Download</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="jumbotron text-center jumbotron-main">
			<div class="container" style="margin-bottom:-15px">
				<div class="row" style="margin-top:-10px">
					<div class="col col-lg-12 col-sm-12">
						<h1>Let your music go with you</h1>
						<p>Imagine your music being synchronized over all of your devices</p>
						<p style="margin-top:35px">
						<a class="btn btn-primary btn-lg btn-shadowed" href="/download">Download now</a>
						</p>
					</div>
				</div>
			</div> 
		</div>
		<div class="container">
			<div class="row">
				<div class="col col-lg-4 col-sm-4">
					<h2>Anywhere</h2>
					<div>
						<p style="height:60px">
							Dismu is totally free to use.
                            <br>
							It's available for Windows, Linux, Mac OS, Android and iOS.
						</p>
						<p style="margin-bottom:15px">
							<a class="btn btn-default" href="/download/">Download for your platform &raquo;</a>
						</p>
					</div>
				</div>
				<div class="col col-lg-4 col-sm-4 col-lborder">
					<h2>Distributed</h2>
					<div>
						<p style="height:60px">
							Dismu uses P2P technology to synchronize.
                            <br>
							It means you won't have any problem due to overloaded servers.
						</p>
						<p style="margin-bottom:15px">
							<a class="btn btn-default" href="https://en.wikipedia.org/wiki/Peer-to-peer">Learn more about P2P &raquo;</a>
						</p>
					</div>
				</div>
				<div class="col col-lg-4 col-sm-4 col-lborder">
					<h2>Recommendations</h2>
					<div>
						<p style="height:60px">
							With Dismu you'll discover new music you'll like.<br />
							Dismu suggests you music based on music you did hear
						</p>
						<p style="margin-bottom:15px">
							<a class="btn btn-default">View details &raquo;</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
